#popup {
    display: none;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
    transition: bottom 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

#popupContent {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popup h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 500;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.popup-button {
    width: 40%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

#install-button {
    background-color: #6c8c75;
    color: white;
}

#install-button:hover {
    background-color: #5b7d67;
}

#closeButton {
    background-color: #b74d3d;
    color: white;
}

#closeButton:hover {
    background-color: #9f4234;
}